* {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    font-family: Arial;
    font-size: 12px;
}

body {
    background-color: #000;
}

#fullscreenTabs {
    width: 100%;
    background-color: #000;
    cursor: default;
    display: table;
    table-layout: fixed;
    white-space: nowrap;
}

.tab {
    display: table-cell;
    padding: 0px 5px;
    color: #fff;
    vertical-align: middle;
    text-overflow: ellipsis;
    line-height: 18px;
}

.closeTabButton
{
    width : 18px; 
    height : 18px"
}

.odd {
    background-color: #808080;
}

.even {
    background-color: #A9A9A9;
}

.active {
    background-color: #000 !important;
}

img {
    height: 12px;
    width: 12px;
    margin-top: -2px;
    margin-right: 5px;
    vertical-align: middle;
}
